name: Docker Image CI
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: docker/setup-qemu-action@v1
    - uses: docker/setup-buildx-action@v1
    - uses: docker/login-action@v1
      id: buildx
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.CR_PAT }}
    - id: version
      run: echo ::set-output name=version::$(date +%Y%m%d%H%M%S)
    - name: Publish Docker image
      uses: docker/build-push-action@v2
      with:
        platforms: linux/amd64,linux/arm64
        push: true
        tags: |
          ghcr.io/dimakuz/restic-backup:${{ steps.version.outputs.version }}
          ghcr.io/dimakuz/restic-backup:latest
